<section id="sobre-mi" class="mb-5">
    <h2 class="section-title mb-4">Sobre mí</h2>
    <div class="custom-card p-4">
        <blockquote class="blockquote mb-0">
            <p class="m-0">
                Nicolás Comin es un estudiante del Instituto Huergo, apasionado por la tecnología y el desarrollo web. En su portafolio podrás encontrar información sobre sus proyectos, habilidades y formas de contacto. ¡Explora y descubre más sobre él!
            </p>
        </blockquote>
    </div>
</section>
